* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 16px 0 !important;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.active {
  background-color: #4caf50;
  color: #fff;
}

.image-wrapper {
  background-image: url(./assets/banner.PNG);
  width: 350px;
  background-size: cover;
  height: 350px;
}
