* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  background-image: url(./assets/banner.PNG);
  width: 350px;
  background-size: cover;
  height: 350px;
}
